@media (min-width: 320px) and (max-width: 600px) {
  .main {
    padding: 0;
  }
  .main__news,
  .main__post {
    margin: 0;
    margin-bottom: 16px;
    min-width: 288px;
  }
  .slideBlock,
  .slider .item img {
    width: 288px;
  }
  .slider {
    margin: 0;
  }
  .main__newsItem,
  .main__postItem {
    flex-direction: column;
  }
  .main__newsItemImg,
  .main__newsItemTags,
  .main__postItemImg,
  .main__postItemTags {
    box-sizing: border-box;
    width: 256px;
  }
}

@media (min-width: 601px) and (max-width: 1023px) {
}
