.tags {
  background: linear-gradient(#c6ffdd, #fbd786, #f7797d);
  padding: 32px;
  width: 100%;
  margin-bottom: 32px;
  box-sizing: border-box;
  animation: 1s ease-in slideTags;
  position: relative;
}
.tags__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tags__listItem {
  list-style: none;
  margin: 8px;
  padding: 4px;
}
.tags__listItem:hover {
  background-color: rgba(255, 185, 92, 0.6);
}
.tags__listAnchor {
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
.tags__nyan {
  position: absolute;
  top: -10px;
  right: 0;
  height: 120%;
}
.tags_news {
  background: linear-gradient(to bottom, #c8e0ff, #cfffff, #f6c6d5);
  border-radius: 30px;
}
.tags_post {
  background: linear-gradient(to bottom, #530000, #200122);
  border-radius: 30px;
}
.tags__listAnchor_post {
  color: #f6c6d5;
}
