@keyframes slideNews {
  from {
    transform: translateX(-500px);
    opacity: 0;
  }

  to {
    transform: translateX(3%);
    opacity: 1;
  }
}

@keyframes slidePost {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(2%);
    opacity: 1;
  }
}

@keyframes slideHeader {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(2%);
    opacity: 1;
  }
}

@keyframes slideTags {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(3%);
    opacity: 1;
  }
}
